version: '3.8'
services:
  redis:
    container_name: "redis"
    image: redis:alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server  /usr/local/etc/redis/redis.conf --requirepass hbb161112
    volumes: 
      - ./redis.conf:/usr/local/etc/redis/redis.conf